<div class="row">
  <div class="col-md-12">
    <h2>{{employee.firstName}} {{ employee.lastName}} - Employee: {{ employee.employeeNum}}</h2>
    <hr />
    <form method="post" action="/employee/update">
      <fieldset>
        <legend>Personal Information</legend>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="firstName">First Name:</label>
              <input name="firstName" class="form-control" id="firstName" type="text" value="{{employee.firstName}}">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="last_name">Last Name:</label>
              <input name="lastName" class="form-control" id="lastName" type="text" value="{{employee.lastName}}">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="email">Email:</label>
              <input name="email" class="form-control" id="email" type="email" value="{{employee.email}}">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="SSN">Social Security Num:</label>
              <input name="SSN" class="form-control" id="SSN" type="text" value="{{employee.SSN}}" readonly>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <div class="form-group">
              <label for="addressStreet">Address (Street):</label>
              <input name="addressStreet" class="form-control" id="addressStreet" type="text"
                value="{{employee.addressStreet}}">
            </div>
          </div>
          <div class="col-md-3">
            <label for="addressCity">Address (City):</label>
            <input name="addressCity" class="form-control" id="addressCity" type="text"
              value="{{employee.addressCity}}">
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label for="addressState">Address (State):</label>
              <input name="addressState" class="form-control" id="addressState" type="text"
                value="{{employee.addressState}}">
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label for="addressPostal">Address (Zip Code):</label>
              <input name="addressPostal" class="form-control" id="addressPostal" type="text"
                value="{{employee.addressPostal}}">
            </div>
          </div>
        </div>
      </fieldset>
      <fieldset>
        <legend>Company Information</legend>
        <div class="row">
          <div class="col-md-3">
            <div class="form-group">
              <label for="isManager">Manager:</label>
              {{#if employee.isManager}}
              <input name="isManager" class="form-control" type="checkbox" checked>
              {{else}}
              <input name="isManager" class="form-control" type="checkbox">
              {{/if}}
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label for="employeeManagerNum">Employee's Manager Number:</label>
              <input name="employeeManagerNum" class="form-control" id="employeeManagerNum" type="text"
                value="{{employee.employeeManagerNum}}">
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label>Status:</label><br>
              {{#equal employee.status 'Full Time'}}
              <label class="checkbox-inline">
                <input name="status" id="statusFT" type="radio" value="Full Time" checked> Full Time
              </label>
              <label class="checkbox-inline">
                <input name="status" id="statusFT" type="radio" value="Part Time"> Part Time
              </label>
              {{else}}
              <label class="checkbox-inline">
                <input name="status" id="statusFT" type="radio" value="Full Time"> Full Time
              </label>
              <label class="checkbox-inline">
                <input name="status" id="statusFT" type="radio" value="Part Time" checked> Part Time
              </label>
              {{/equal}}
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label for="department">Department</label>
              <select name="department" class="form-control" id="department">
                {{#equal employee.department '1'}}
                <option value="1" selected>Creative Services</option>
                <option value="2">Product Development</option>
                <option value="3">Marketing</option>
                <option value="4">Strategic Planning</option>
                <option value="5">Accounting</option>
                <option value="6">Human Resources</option>
                <option value="7">Quality Analysis</option>
                {{/equal}}
                {{#equal employee.department '2'}}
                <option value="1">Creative Services</option>
                <option value="2" selected>Product Development</option>
                <option value="3">Marketing</option>
                <option value="4">Strategic Planning</option>
                <option value="5">Accounting</option>
                <option value="6">Human Resources</option>
                <option value="7">Quality Analysis</option>
                {{/equal}}
                {{#equal employee.department '3'}}
                <option value="1">Creative Services</option>
                <option value="2">Product Development</option>
                <option value="3" selected>Marketing</option>
                <option value="4">Strategic Planning</option>
                <option value="5">Accounting</option>
                <option value="6">Human Resources</option>
                <option value="7">Quality Analysis</option>
                {{/equal}}
                {{#equal employee.department '4'}}
                <option value="1">Creative Services</option>
                <option value="2">Product Development</option>
                <option value="3">Marketing</option>
                <option value="4" selected>Strategic Planning</option>
                <option value="5">Accounting</option>
                <option value="6">Human Resources</option>
                <option value="7">Quality Analysis</option>
                {{/equal}}
                {{#equal employee.department '5'}}
                <option value="1">Creative Services</option>
                <option value="2">Product Development</option>
                <option value="3">Marketing</option>
                <option value="4">Strategic Planning</option>
                <option value="5" selected>Accounting</option>
                <option value="6">Human Resources</option>
                <option value="7">Quality Analysis</option>
                {{/equal}}
                {{#equal employee.department '6'}}
                <option value="1">Creative Services</option>
                <option value="2">Product Development</option>
                <option value="3">Marketing</option>
                <option value="4">Strategic Planning</option>
                <option value="5">Accounting</option>
                <option value="6" selected>Human Resources</option>
                <option value="7">Quality Analysis</option>
                {{/equal}}
                {{#equal employee.department '7'}}
                <option value="1">Creative Services</option>
                <option value="2">Product Development</option>
                <option value="3">Marketing</option>
                <option value="4">Strategic Planning</option>
                <option value="5">Accounting</option>
                <option value="6">Human Resources</option>
                <option value="7" selected>Quality Analysis</option>
                {{/equal}}
              </select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label for="hireDate">Hire Date</label>
              <input name="hireDate" class="form-control" id="hireDate" type="text" value="{{employee.hireDate}}"
                readonly>
            </div>
          </div>
        </div>
      </fieldset>
      <hr>
      <input type="submit" class="btn btn-primary pull-right" value="Update Employee" /><br /><br /><br />
    </form>
  </div>
  {{#unless employee}}
  <div class="col-md-12 text-center">
    <strong>{{message}}</strong>
  </div>
  {{/unless}}
</div>